@import "components/header";
@import "components/nosotros";
@import "components/destilación";
@import "components/cocktails";
@import "components/contacto";
@import "components/footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Raleway', sans-serif;
  }

.contenedor {
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
	margin: auto;
	pad: 0 0 80px 0;
	padding: 80px 0;
}
.wave-container {
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
	margin: auto;
	pad: 0 0 80px 0;
}
.titulo {
	font-weight: 300;
	font-size: 35px;
	text-align: center;
	margin-bottom: 30px;
}

@media screen and (max-width:800px) {
	.titulo {
		font-size: 35px;
		text-align: center;
	}
	.destilación {
		text-align: center;
	}
	.website {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		img {
			width: 75%;
		}
		.text-main {
			width: 100%;
		}
	}
	.card {
		width: 90%;
		margin-bottom: 20px;
		justify-content: center;
	}
	.media {
		flex-direction: column;
	}
	.footer-img {
		img {
			width: 31px;
		}
	}
}
@media screen and (max-width:400px) {
	.titulo {
		font-size: 30px;
		text-align: center;
	}
	.tituloN {
		margin: 30px;
	}
	.ul-header {
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.li-header {
		height: 50px;
	}
	.img-botella {
		img {
			width: 25%;
		}
	}
	.parent {
		padding: 0 95px;
	}
	.media {
		flex-direction: column;
	}
	.website {
		.text-main {
			margin-bottom: 30px;
		}
	}
	.footer-img {
		img {
			width: 21px;
		}
	}
	.link-header {
		font-size: 10px;
	}
}


