.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card{
        width: 35%;
        text-align: center;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
        transform: scale(1);
        transition: transform 0.6s;
    
        &:hover{
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
            transform: scale(1.03);
            cursor: pointer;
         }

        .card i{
            margin: 30px 0 20px 0;
            color: #A6E3E9;
            font-size: 50px;
        }
        .card p{
            font-weight: 300;
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
}

