.contenedor {
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
	margin: auto;
	pad: 0 0 80px 0;
	padding: 80px 0;
}
.wave-container {
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
	margin: auto;
	pad: 0 0 80px 0;
}
.titulo {
	font-weight: 300;
	font-size: 35px;
	text-align: center;
	margin-bottom: 30px;
}

@media screen and (max-width:800px) {
	.titulo {
		font-size: 35px;
		text-align: center;
	}

	.img-botella {
		display: flex;
		position: relative;
		align-items: flex-end;
		margin: 0 50px;
		img {
			width: 15%;
			position: absolute;
		}
	}

	.destilación {
		text-align: center;
	}
	.website {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		img {
			width: 75%;
		}
		.text-main {
			width: 100%;
		}
	}
	.card {
		width: 90%;
		margin-bottom: 20px;
		justify-content: center;
	}
	.media {
		flex-direction: column;
	}
	.tragos{
		transform: scale(1);
		transition: transform 0.6s;
		&:hover {
			transform: scaleY(1.05);
			transform: scale(1.05);
			cursor: pointer;
		}
	}
	footer {
		.footer-desings{
			.logo-footer{
				width: 45%;
			}
		}
	}
	footer {
		.footer-img{
			img{
				width: 33px;
			}
		}
	}	
}
@media screen and (max-width:400px) {
	.titulo {
		font-size: 30px;
		text-align: center;
	}
	.tituloN {
		margin: 30px;
	}
	.ul-header {
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	.li-header {
		height: 50px;
	}
	.img-botella {
		img {
			width: 25%;
		}
	}
	.parent {
		padding: 0 95px;
	}
	.media {
		flex-direction: column;
	}
	.website {
		.text-main {
			margin-bottom: 30px;
		}
	}
	footer {
		.footer-img{
			.link-header{
				font-size: 13px;
				padding: 10px 10px;
			}
		}
	} 
	
	footer {
		.footer-img{
			img{
				width: 30px;
			}
		}
	}	
	
	footer {
		.footer-desings{
			.logo-footer{
				width: 45%;
			}
		}
	}
}

	
	

	